In [1]:
#Project 1
#Andrew Miller, Valerie Pippenger, Damiso Hutchinson, Caroline Larry, Diana Kennen

In [2]:
import pandas as pd

In [3]:
#Save csv file names
file_one = "summer_olympics.csv"
file_two = "gdp.csv"

In [4]:
#Import csv files
olympicsI_df = pd.read_csv(file_one, encoding="ISO-8859-1")
gdp_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [5]:
#View olympics file
olympicsI_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Athens,2004,Aquatics,Diving,3m springboard,"DESPATIE, Alexandre",Men,CAN,Canada,M,Silver
1,Athens,2004,Aquatics,Diving,3m springboard,"SAUTIN, Dmitry",Men,RUS,Russia,M,Bronze
2,Athens,2004,Aquatics,Diving,3m springboard,"PAKHALINA, Ioulia",Women,RUS,Russia,W,Bronze
3,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"NEWBERY, Robert",Men,AUS,Australia,M,Bronze
4,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"BIMIS, Thomas",Men,GRE,Greece,M,Gold

In [6]:
#Drop NaN
olympicsI_df.dropna()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Athens,2004,Aquatics,Diving,3m springboard,"DESPATIE, Alexandre",Men,CAN,Canada,M,Silver
1,Athens,2004,Aquatics,Diving,3m springboard,"SAUTIN, Dmitry",Men,RUS,Russia,M,Bronze
2,Athens,2004,Aquatics,Diving,3m springboard,"PAKHALINA, Ioulia",Women,RUS,Russia,W,Bronze
3,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"NEWBERY, Robert",Men,AUS,Australia,M,Bronze
4,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"BIMIS, Thomas",Men,GRE,Greece,M,Gold
...,...,...,...,...,...,...,...,...,...,...,...
15311,Sydney,2000,Wrestling,Wrestling Gre-R,69 - 76kg,"LINDLAND, Matt James",Men,USA,United States,M,Silver
15312,Sydney,2000,Wrestling,Wrestling Gre-R,97 - 130kg,"KARELIN, Aleksandr",Men,RUS,Russia,M,Silver
15313,Sydney,2000,Wrestling,Wrestling Gre-R,76 - 85kg,"YERLIKAYA, Hamza",Men,TUR,Turkey,M,Gold
15314,Sydney,2000,Wrestling,Wrestling Gre-R,54 - 58kg,"KIM, In-Sub",Men,KOR,"Korea, South",M,Silver
15315,Sydney,2000,Wrestling,Wrestling Gre-R,58 - 63kg,"MAREN, Juan Luis",Men,CUB,Cuba,M,Silver

In [7]:
#Checking for file types and number of data points
olympicsI_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15316 entries, 0 to 15315
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  int64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.3+ MB

In [8]:
#Setting year to be a string
olympicsI_df = olympicsI_df.fillna(0)
olympicsI_df["Year"] = olympicsI_df["Year"].astype(int)
olympicsI_df["Year"] = olympicsI_df["Year"].astype(str)

In [9]:
#Viewing gdp df
gdp_df.head()

        Entity Code  Year  GDP (constant 2010 US$)
0  Afghanistan  AFG  2002             8.013233e+09
1  Afghanistan  AFG  2003             8.689884e+09
2  Afghanistan  AFG  2004             8.781610e+09
3  Afghanistan  AFG  2005             9.762979e+09
4  Afghanistan  AFG  2006             1.030523e+10

In [10]:
#Fix South Korea
olympicsI_df["Country"].replace({"Korea, South": "South Korea", "Korea, North": "North Korea"}, inplace = True)

In [11]:
#Concatenating the country and year for the purpose of merging the two files
olympicsI_df["combo"] = olympicsI_df["Country"] + olympicsI_df["Year"]
olympicsI_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,combo
0,Athens,2004,Aquatics,Diving,3m springboard,"DESPATIE, Alexandre",Men,CAN,Canada,M,Silver,Canada2004
1,Athens,2004,Aquatics,Diving,3m springboard,"SAUTIN, Dmitry",Men,RUS,Russia,M,Bronze,Russia2004
2,Athens,2004,Aquatics,Diving,3m springboard,"PAKHALINA, Ioulia",Women,RUS,Russia,W,Bronze,Russia2004
3,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"NEWBERY, Robert",Men,AUS,Australia,M,Bronze,Australia2004
4,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"BIMIS, Thomas",Men,GRE,Greece,M,Gold,Greece2004

In [12]:
#Counting the number if datapoints from each city
olympicsI_df.City.value_counts()

Beijing        2042
Sydney         2015
Athens         1998
Atlanta        1859
Barcelona      1705
Seoul          1546
Los Angeles    1459
Moscow         1387
Montreal       1305
Name: City, dtype: int64

In [13]:
#Creating a function for assigning host countries
def country_getter(city):
    if city == 'Beijing':
        return('China')
    elif city == 'Sydney':
        return('Australia')
    elif city ==  "Athens":
        return("Greece")
    elif city == "Atlanta":
        return("United States")
    elif city == "Barcelona":
        return("Spain")
    elif city == "Montreal":
        return("Canada")
    elif city == "Seoul":
        return("South Korea")
    elif city == "Los Angeles":
        return("United States")
    elif city == "Moscow":
        return("Russia")
    else:
        return('country not found')

In [14]:
#Applying host country function
olympicsI_df['host country'] = olympicsI_df.City.apply(country_getter)

In [15]:
#Double Checking host country counts
olympicsI_df["host country"].value_counts()

United States    3318
China            2042
Australia        2015
Greece           1998
Spain            1705
South Korea      1546
Russia           1387
Canada           1305
Name: host country, dtype: int64

In [16]:
#Concatenating gdp country and year for merge purposes
gdp_df["combo"] = gdp_df["Entity"] + gdp_df["Year"].map(str)

In [17]:
#Checking for new combo column
gdp_df.head()

        Entity Code  Year  GDP (constant 2010 US$)            combo
0  Afghanistan  AFG  2002             8.013233e+09  Afghanistan2002
1  Afghanistan  AFG  2003             8.689884e+09  Afghanistan2003
2  Afghanistan  AFG  2004             8.781610e+09  Afghanistan2004
3  Afghanistan  AFG  2005             9.762979e+09  Afghanistan2005
4  Afghanistan  AFG  2006             1.030523e+10  Afghanistan2006

In [18]:
korea_list = olympicsI_df[olympicsI_df["Country"]== "South Korea"]
korea_list

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,combo,host country
333,Athens,2004,Archery,Archery,team (FITA Olympic round - 70m),"PARK, Sung-Hyun",Women,KOR,South Korea,W,Gold,South Korea2004,Greece
336,Athens,2004,Archery,Archery,team (FITA Olympic round - 70m),"IM, Dong Hyun",Men,KOR,South Korea,M,Gold,South Korea2004,Greece
337,Athens,2004,Archery,Archery,individual (FITA Olympic round - 70m),"PARK, Sung-Hyun",Women,KOR,South Korea,W,Gold,South Korea2004,Greece
343,Athens,2004,Archery,Archery,team (FITA Olympic round - 70m),"JANG, Yong-Ho",Men,KOR,South Korea,M,Gold,South Korea2004,Greece
346,Athens,2004,Archery,Archery,team (FITA Olympic round - 70m),"PARK, Kyung Mo",Men,KOR,South Korea,M,Gold,South Korea2004,Greece
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15111,Sydney,2000,Taekwondo,Taekwondo,49 - 57 kg,"JUNG, Jae-Eun",Women,KOR,South Korea,W,Gold,South Korea2000,Australia
15286,Sydney,2000,Wrestling,Wrestling Free.,69 - 76kg,"MOON, Eui Jae",Men,KOR,South Korea,M,Silver,South Korea2000,Australia
15289,Sydney,2000,Wrestling,Wrestling Free.,58 - 63kg,"JANG, Jae-Sung",Men,KOR,South Korea,M,Bronze,South Korea2000,Australia
15307,Sydney,2000,Wrestling,Wrestling Gre-R,48 - 54kg,"SIM, Kwon-Ho",Men,KOR,South Korea,M,Gold,South Korea2000,Australia
15314,Sydney,2000,Wrestling,Wrestling Gre-R,54 - 58kg,"KIM, In-Sub",Men,KOR,South Korea,M,Silver,South Korea2000,Australia

In [19]:
#Merging two dataframes
olympics_df = pd.merge(olympicsI_df, gdp_df, on="combo", how = "left")

In [20]:
olympics_df.drop('Code', inplace=True, axis=1)
olympics_df.drop('Country_Code', inplace=True, axis=1)
olympics_df.drop('Entity', inplace=True, axis=1)
olympics_df.rename(columns = {"Year_y": "GDP Year", "Year_x": "Olympics Year"}, inplace = True)

In [21]:
olympics_df.head()

,City,Olympics Year,Sport,Discipline,Event,Athlete,Gender,Country,Event_gender,Medal,combo,host country,GDP Year,GDP (constant 2010 US$)
0,Athens,2004,Aquatics,Diving,3m springboard,"DESPATIE, Alexandre",Men,Canada,M,Silver,Canada2004,Greece,2004.0,1.480000e+12
1,Athens,2004,Aquatics,Diving,3m springboard,"SAUTIN, Dmitry",Men,Russia,M,Bronze,Russia2004,Greece,2004.0,1.200000e+12
2,Athens,2004,Aquatics,Diving,3m springboard,"PAKHALINA, Ioulia",Women,Russia,W,Bronze,Russia2004,Greece,2004.0,1.200000e+12
3,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"NEWBERY, Robert",Men,Australia,M,Bronze,Australia2004,Greece,2004.0,9.640000e+11
4,Athens,2004,Aquatics,Diving,synchronized diving 3m springboard,"BIMIS, Thomas",Men,Greece,M,Gold,Greece2004,Greece,2004.0,3.030000e+11

In [22]:
olympics_df.sort_values(by = "Country").head()

,City,Olympics Year,Sport,Discipline,Event,Athlete,Gender,Country,Event_gender,Medal,combo,host country,GDP Year,GDP (constant 2010 US$)
7363,Beijing,2008,Taekwondo,Taekwondo,- 58 kg,"NIKPAI, Rohullah",Men,Afghanistan,M,Bronze,Afghanistan2008,China,2008.0,1.214448e+10
8082,Los Angeles,1984,Boxing,Boxing,75 - 81kg (light-heavyweight),"MOUSSA, Mustapha",Men,Algeria,M,Bronze,Algeria1984,United States,1984.0,8.540465e+10
4475,Barcelona,1992,Boxing,Boxing,54 - 57kg (featherweight),"SOLTANI, Hocine",Men,Algeria,M,Bronze,Algeria1992,Spain,1992.0,9.252182e+10
2371,Atlanta,1996,Athletics,Athletics,1500m,"MORCELI, Nourredine",Men,Algeria,M,Gold,Algeria1996,United States,1996.0,9.699483e+10
13780,Sydney,2000,Athletics,Athletics,1500m,"MERAH-BENIDA, Nouria",Women,Algeria,W,Gold,Algeria2000,Australia,2000.0,1.100000e+11

In [23]:
#Differences in data point count are due to changes in names of countries.
olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15316 entries, 0 to 15315
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City                     15316 non-null  object
 1   Olympics Year            15316 non-null  object
 2   Sport                    15316 non-null  object
 3   Discipline               15316 non-null  object
 4   Event                    15316 non-null  object
 5   Athlete                  15316 non-null  object
 6   Gender                   15316 non-null  object
 7   Country                  15316 non-null  object
 8   Event_gender             15316 non-null  object
 9   Medal                    15316 non-null  object
 10  combo                    15316 non-null  object
 11  host country             15316 non-null  object
 12  GDP Year                 11909 non-null  float64
 13  GDP (constant 2010 US$)  11909 non-null  float64
dtypes: float64(2), object(12)
memory usage: 1.8+ MB

In [24]:
olympics_df.to_csv("olympics.csv", header = True)